.main {
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Arial, Tahoma, Serif;
  background-color: white;
  color: black;
}

.image {
  width: 28rem;
  margin-left: 10%;
}

.title {
  font-size: 2.2rem;
  margin: 1.5rem 0;
}

.description {
  line-height: 1.5;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0.8rem;
  width: 12rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.button2 {
  border-radius: 4px;
  background-color: purple;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0.8rem;
  width: 12rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
}

.button3 {
  border-radius: 4px;
  background-color: purple;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0.8rem;
  width: 12rem;
  cursor: pointer;
  margin-right: 2%;
  margin-top: 1rem;
}

.proposalCard {
  width: fit-content;
  margin: 1.2rem 0.5rem 1rem 0rem;
  padding: 1.2rem;
  border: black 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex: 1;
  flex-direction: column;
}

.container {
  font-size: 1.2rem;
  margin-top: 1.8rem;
}
.containerInput {
  margin-left: 1rem;
  background-color: #24242c;
}

.flex {
  flex: 1;
  justify-content: space-between;
}

.footer {
  padding: 1rem 5.5rem;
  background-color: #24242c;
  color: white;
  position: relative;
  width: 100%;
  font-size: larger;
}

.nav {
  margin-right: auto;
}
.navIcon {
  display: inline-block;
  vertical-align: top;
}

.gridContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .button {
    margin: 1.5rem;
  }
  .image {
    width: 100%;
    margin-left: 0;
  }
  .title {
    margin: 1.5rem 1rem;
  }
  .description {
    margin: 1rem 1rem;
  }
  .container {
    margin: 1rem 0 0 1rem;
  }
  .button3 {
    margin-right: 5rem;
  }
  .containerInput {
    margin: 0.2rem 0;
  }
}
