.main {
  min-height: 82vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Arial, Tahoma, Serif;
  background-color: white;
  color: black;
}

.image {
  width: 60%;
  height: 50%;
  margin-left: 20%;
}

.title {
  font-size: 2.2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1.5;
  margin: 2rem 0;
  font-size: 1.3rem;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0.8rem;
  width: 12rem;
  cursor: pointer;
  margin-right: 2rem;
}

.button2 {
  border-radius: 4px;
  background-color: indigo;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  margin-right: 2%;
  margin-top: 1rem;
}

.proposalCard {
  width: fit-content;
  margin-top: 0.25rem;
  border: black 2px solid;
  flex: 1;
  flex-direction: column;
}

.container {
  margin-top: 2rem;
}

.flex {
  flex: 1;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  margin-top: 1rem;
  padding: 1rem 5.5rem;
  background-color: #24242c;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: larger;
}

.nav {
  margin-right: auto;
}
.navIcon {
  display: inline-block;
  vertical-align: top;
}
